.VariableEditor {
  position: absolute;
  right: 0;
  left: 0;
  border-bottom: 1px solid $border-color;
  background-color: #fafafa;
}

.VariableEditorBody {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 38px;
  padding: 11px 7px 11px 13px;
  overflow-x: hidden;
  overflow-y: scroll;

  .NoVariables {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .NoVariables__Message {
      display: inline-block;
      opacity: 0.4;
    }
  }
}

.VariableEditorFooter {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 38px;
  background-color: #f0f0f0;
  border-top: 1px solid $border-color;
  padding: 6px 13px;
}

.VariableItem {
  display: flex;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.VariableItem__Key, .VariableItem__Value {
  display: flex;
  width: calc(50% - 50px);
}

.VariableItem__Element {
  padding: 0 5px;

  &:first-of-type {
    padding-left: 0;
  }

  &:last-of-type {
    padding-right: 0;
  }
}

.VariableItem__RemoveButton {
  display: flex;
  width: 100px;

  button {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
  }
}