.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

html {
  height: 100%;
}
body {
  min-height: 100%;
}

body {
  font-family: helvetica, arial, sans-serif;
  display: flex;
}

#react-root {
  display: flex;
  flex: 1;
}

.ReactModal__Overlay {
  z-index: 10000000;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.graphiql-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.tab-bar {
  width: 100%;
  height: 46px;
  overflow-y: visible;
  overflow-x: scroll;
}

.tab-bar-inner {
  width: auto;
  max-width: 10000px;
  display: flex;
  height: 45px;
  border-bottom: solid 1px #efefef;
  background-color: #fcfcfc;
  flex-direction: row;
  align-items: flex-start;
}

.tab-bar li {
  display: flex;
  list-style-type: none;
  width: 150px;
  flex-basis: 150px;
  flex-shrink: 0;
}

.tab-bar li > a {
  width: 100%;
  color: #999;
  font-size: .8em;
  background-color: #fcfcfc;
  text-decoration: none;
  display: block;
  padding: 15px;
  text-align: center;
  border-right: solid 1px #efefef;
}

.tab-bar li:last-child > a {
  /*border-right: none;*/
}

.tab-bar li.active {
  height: 47px;
}

.tab-bar li.active > a {
  color: black;
  background-color: white;
  border-bottom: none;
}

.tabs {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.tabs__tab {
  display: flex;
  flex: 1;
  flex-direction: column;
}

#graphiql-container {
  flex: 1;
}

.config-form {
  padding: 12px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 12px;
}

.endpoint-box {
  flex: 1;
}

.endpoint-box input {
  flex: 1;
  width: 100%;
}

.endpoint-box label {
  text-align: center;
}

@media (max-width: 700px) {
  .endpoint-box {
    width: 100%;
    flex: initial;
    margin-bottom: 15px;
  }
}

.field label {
  margin-right: 20px;
}

.field input, .field select {
  height: 25px;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
}
